.pie-chart-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
    transform: translateY(-25%);

    .pie-chart-nav__name {
        width: calc(100% / 3);
        cursor: pointer;
        font-size: $font-size-sm;
        color: $dark-secondary;
        line-height: 1.1;
        padding: .5rem;
        margin-bottom: -.5rem;
        transition: color $transition-duration;

        &:hover, &:focus { color: $primary; }

    }

}

.pie-chart-nav__radio {
    position: absolute;
    z-index: -10;

    &:checked {

        // Europe.
        &.pie-chart-nav__radio--europe ~ .dashboard__pie-charts-wrapper .pie-chart {

            &:nth-of-type(1) {
                .pie-chart__inner-circle { stroke-dasharray: .73 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '73%'; }
            }

            &:nth-of-type(2) {
                .pie-chart__inner-circle { stroke-dasharray: .81 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '81%'; }
            }

        }

        // Asia.
        &.pie-chart-nav__radio--asia ~ .dashboard__pie-charts-wrapper .pie-chart {

            &:nth-of-type(1) {
                .pie-chart__inner-circle { stroke-dasharray: .89 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '89%'; }
            }

            &:nth-of-type(2) {
                .pie-chart__inner-circle { stroke-dasharray: .81 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '81%'; }
            }

        }

        // North America.
        &.pie-chart-nav__radio--north-america ~ .dashboard__pie-charts-wrapper .pie-chart {

            &:nth-of-type(1) {
                .pie-chart__inner-circle { stroke-dasharray: .86 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '86%'; }
            }

            &:nth-of-type(2) {
                .pie-chart__inner-circle { stroke-dasharray: .91 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '91%'; }
            }

        }

        // South America.
        &.pie-chart-nav__radio--south-america ~ .dashboard__pie-charts-wrapper .pie-chart {

            &:nth-of-type(1) {
                .pie-chart__inner-circle { stroke-dasharray: .41 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '41%'; }
            }

            &:nth-of-type(2) {
                .pie-chart__inner-circle { stroke-dasharray: .34 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '34%'; }
            }

        }

        // Oceania.
        &.pie-chart-nav__radio--oceania ~ .dashboard__pie-charts-wrapper .pie-chart {

            &:nth-of-type(1) {
                .pie-chart__inner-circle { stroke-dasharray: .31 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '31%'; }
            }

            &:nth-of-type(2) {
                .pie-chart__inner-circle { stroke-dasharray: .54 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '54%'; }
            }

        }

        // Africa.
        &.pie-chart-nav__radio--africa ~ .dashboard__pie-charts-wrapper .pie-chart {

            &:nth-of-type(1) {
                .pie-chart__inner-circle { stroke-dasharray: .49 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '49%'; }
            }

            &:nth-of-type(2) {
                .pie-chart__inner-circle { stroke-dasharray: .42 * $chart-circumference, $chart-circumference; }
                .pie-chart__info::after { content: '42%'; }
            }

        }

    }

}